:root{
    --verde-principal:#A8AD4A;
    --verde-oscuro:#8F943F;
    --beige:#E7E0D6;
    --blanco:#F8F6F1;
    }
    
    body{
    font-family: Arial;
    margin:0;
    background:var(--beige);
    }
    
    header{
    background:var(--verde-principal);
    color:white;
    padding:15px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    }
    
    nav a{
    color:white;
    margin:10px;
    text-decoration:none;
    font-weight:bold;
    }
    
    nav a:hover{
    text-decoration:underline;
    }
    
    .hero{
    text-align:center;
    padding:80px;
    background:url('https://images.unsplash.com/photo-1526045612212-70caf35c14df');
    background-size:cover;
    background-position:center;
    color:white;
    }
    
    .productos{
    display:flex;
    justify-content:center;
    gap:20px;
    padding:40px;
    }
    
    .card{
    background:var(--blanco);
    padding:15px;
    border-radius:10px;
    box-shadow:0px 0px 10px rgba(0,0,0,0.1);
    text-align:center;
    width:200px;
    }
    
    .card:hover{
    transform:scale(1.05);
    transition:0.3s;
    }
    
    .card img{
    width:100%;
    border-radius:10px;
    }
    
    .whatsapp{
    background:#25D366;
    color:white;
    padding:10px 20px;
    text-decoration:none;
    border-radius:5px;
    }
    
    footer{
    text-align:center;
    padding:20px;
    background:var(--verde-principal);
    color:white;
    }